* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex {
    display: flex;
}

/* nav style start */

nav {
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    background-color: beige;
    align-items: center;
}

.nav-logo {
    align-items: center;
}