@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

 


.flex {
    display: flex;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

/* nav style start */

nav {
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.bar {
    display: none;
}

.nav-logo {
    align-items: center;
    
    gap: 10px;
}

.nav-logo h2 {
    font-size: 2rem;
    font-weight: 700;
}
.nav-link {
    gap: 32px;
    
}
.nav-link a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-link .home-link {
    font-weight: 700;
}

.home-link {
    color: orange;
}
.about-link {
    color: #01ACFD;
}
.facilities-link {
    color: #05D4DF;
}
.admissin-link {
    color: #5D58EF;
}
.nav-btn button{
    border: none;
    background-color: orange;
    padding: 15px 50px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    border-radius: 12px;
}

 /* nav style end */


/* hero style start */

.hero-section {
    justify-content: space-between;
    align-items: center;
    
}
.hero-content {
    max-width: 640px;
}
.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 62px;
    
}
.orange-text {
    color: orange;
}
.skyblue-text {
    color: #01ACFD;
}
.hero-content p {
    font-size: 1.25rem;
    margin: 24px auto;
    
}
.hero-content button {
    font-size: 1.25rem;
    border: none;
    background-color: black;
    color: #ffffff;
    padding: 15px 50px;
    border-radius: 12px;
}
.hero-img img {
    width: 100%;
}

@media screen and (max-width: 576px) {
    .m-container {
        padding: 0 16px;

    }
    /* nav style start */
    
    .hide {
        display: none;
    }

    .bar {
        display: block;
        
    }
    .nav-logo img {
        max-width: 46px;
    }
    
    nav {
        min-height: 70px;
    }
    header {
        border: 1px solid orange;
    }

    /* hero style start */

    .hero-section {
        flex-direction: column-reverse;
        text-align: center;
    }
    .hero-content h1 {
        font-size: 2rem;
        line-height: 40px;
        
    }
    .hero-content p  {
        font-size: 1rem;
        margin: 18px auto;
    }
    .hero-content button {
        font-size: 1rem;
        padding: 12px 24px;
        border-radius: 10px;
    }
    .hero-img{
        margin-top: 28px;
        margin-bottom: 20px;
    }
    
}

