@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

 


.flex {
    display: flex;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

/* nav style start */

nav {
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.bar {
    display: none;
}

.nav-logo {
    align-items: center;
    
    gap: 10px;
}

.nav-logo h2 {
    font-size: 2rem;
    font-weight: 700;
}
.nav-link {
    gap: 32px;
    
}
.nav-link a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-link .home-link {
    font-weight: 700;
}

.home-link {
    color: orange;
}
.about-link {
    color: #01ACFD;
}
.facilities-link {
    color: #05D4DF;
}
.admissin-link {
    color: #5D58EF;
}
.nav-btn button{
    border: none;
    background-color: orange;
    padding: 15px 50px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    border-radius: 12px;
}

 /* nav style end */


/* hero style start */

.hero-section {
    justify-content: space-between;
    align-items: center;
    
}
.hero-content {
    max-width: 640px;
}
.hero-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 62px;
    
}
.orange-text {
    color: orange;
}
.skyblue-text {
    color: #01ACFD;
}
.hero-content p {
    font-size: 1.25rem;
    margin: 24px auto;
    
}
.hero-content button {
    font-size: 1.25rem;
    border: none;
    background-color: black;
    color: #ffffff;
    padding: 15px 50px;
    border-radius: 12px;
}
.hero-img img {
    width: 100%;
}

/* curriculum section start */

.curriculum-section {
    background-image: url(./assets/bg.png);
    
}
.curriculum-container {
    padding-top: 60px;
    text-align: center;
}
.curriculum-container h2{
   font-size: 2.8rem;
    
}
.curriculum-card {
    padding: 60px 40px;
    text-align: center;
    border-radius: 20px;
    
    
}

.first-card {
    background: linear-gradient(180deg, rgba(222,245,255,1), rgba(255,255,255,0) 40%);
    border: 1px solid #DEF5FF;
    box-shadow: 0 0 28px 1px rgb(0, 0, 0, 5%) inset; 
}
.first-card a {
    text-decoration: none;
    color: #64C8FF;
    font-weight: 700;
}
.second-card a {
    text-decoration: none;
    color: #F0AA00;
    font-weight: 700;
}
.third-card a {
    text-decoration: none;
    color: #8700FF;
    font-weight: 700;
}
.second-card {
    background: linear-gradient(180deg, rgba(255,244,220,1), rgba(255,255,255,0) 40%);
    border: 1px solid #FFF4DC;
    box-shadow: 0 0 28px 1px rgb(0, 0, 0, 5%) inset; 

}
.third-card {
    background: linear-gradient(180deg, rgba(238,225,255,1), rgba(255,255,255,0) 40%);
    border: 1px solid #F2E8FF;
    box-shadow: 0 0 28px 1px rgb(0, 0, 0, 5%) inset; 

}

.curriculum-card img {
    margin-bottom: 30px;
}
.curriculum-card h4{
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 700;
}
.curriculum-card p{
    margin-bottom: 30px;
    color: #808080;
    font-family: "Raleway", serif;
    font-size: 15px;
}
.curriculam-card-container {
    gap: 30px;
    margin: 80px 0;
}
.curriculum-btn button {
    border: none;
    background-color: #F0AA00;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 60px;
}
.curriculum-btn button:hover {
    background-color: #64C8FF;
}

/* story section start */

.story-section {
    background-image: url(./assets/bg.png), linear-gradient(0deg, rgba(254,163,1,30%), rgba(255,255,255,30%) 100%);
    text-align: center;
 
}
.story-section-container h2 {
    font-size: 2.8rem;
    font-weight: 700;
    
}
.cards-container {
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
}
.group-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px
}

.single-card {
    max-width: 540px;
    background-color: #ffffff;
    border-radius: 16px;
    
}
.date-content-style {
    font-size: 1rem;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 40px;
    top: -1.5rem;
    left: 1rem
    
}
.single-card-content {
    position: relative;
}

.single-card-date {
    position: absolute;
   font-size: 1rem;
    color: #ffffff;
    background-color: #3CD8E8;
    padding: 10px 20px;
    border-radius: 40px;
    top: -1.5rem;
    left: 1rem;
}

.group-card-content {
    position: relative;
}
.card-style {
    position: absolute;
   font-size: 1rem;
    color: #ffffff;
   padding: 10px 20px;
    border-radius: 40px;
    top: -1.5rem;
    left: 1rem;

}
.date-two {
    background-color: #95B226;
}
.date-three {
    background-color: #5D58F0;
}
.date-four {
    background-color: #95B226;
}
.date-five {
    background-color: #95B226;
}

.single-card h3 {
    font-size: 1.5rem;
    padding: 60px 40px 50px 40px;
    text-align: left;
    
}
.single-card p {
    font-family: "Raleway", serif;
    color: #666666;
    padding: 0 40px 40px 40px;
    text-align: left;

}
.group-cards {
    max-width: 290px;
    background-color: #ffffff;
    border-radius: 16px;
    
}


.group-cards h3 {
    font-weight: 700;
    font-size: 1rem;
    padding: 35px;
    text-align: left;
}
.single-card img, .group-cards img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}
.story-section-container button {
    padding: 15px 50px;
    background-color: black;
    color: #ffffff;
    border-radius: 12px;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 60px;
}


/* footer section start */

footer {
    background-color: #01ACFD;
    width: 100%;
}
.footer-content, .footer-link, .footer-about {
    max-width: 33%;
} 
.footer-container {
     justify-content: space-between;
     padding: 7rem 0;
     
}
.footer-logo {
    align-items: center;
    gap: 10px;
}
.footer-logo h2 {
    font-size: 2.6rem;
    line-height: 40px;
    font-weight: 700;
    color: #ffffff;
    
}
.footer-content p {
    font-size: 1.25rem;
    color: #fff;
    margin-top: 35px;
}
.footer-about h4 {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 32px;
}
.footer-about a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-top: 20px;
    font-size: 1.25rem;
}
.social-link h4 {
    font-size: 1.6rem;
    color: #ffffff;
    margin-bottom: 32px;
}
.marquee-div {
    color: #ffffff;
}
@media screen and (max-width: 576px) {
    .m-container {
        max-width: 90%;

    }
    /* nav style start */
    
    .hide {
        display: none;
    }

    .bar {
        display: block;
        
    }
    .nav-logo img {
        max-width: 46px;
    }
    
    nav {
        min-height: 70px;
    }
    header {
        border: 1px solid orange;
    }

    /* hero style start */

    .hero-section {
        flex-direction: column-reverse;
        text-align: center;
    }
    .hero-content h1 {
        font-size: 2rem;
        line-height: 40px;
        
    }
    .hero-content p  {
        font-size: 1rem;
        margin: 18px auto;
    }
    .hero-content button {
        font-size: 1rem;
        padding: 12px 24px;
        border-radius: 10px;
    }
    .hero-img{
        margin-top: 28px;
        margin-bottom: 20px;
    }

    /* curriculum section start */
    
    .curriculam-card-container {
        flex-direction: column;
    }
    .curriculum-btn button {
        display: none;
    }

    /* story section start */

    .single-card {
        display: none;
    }
    .group-card-container {
        gap: 10px;
    }
    /* footer section start */
    .footer-container {
        flex-direction: column;
    }
    .footer-content, .footer-link, .footer-about {
        max-width: 100%;
    } 
    .footer-about {
        margin: 32px 0;
    }
}